{% extends 'index.html' %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Gallery</title>
    <link href="../../static/admin/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!------ Light Box ------>
    <script type="text/javascript" src="../../static/admin/js/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" href="../../static/admin/css/swipebox.css">
    <script src="../../static/admin/js/ios-orientationchange-fix.js"></script>
    <script src="../../static/admin/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!------ Eng Light Box ------>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="header-top">
                <div class="logo">
                    <a href="index.html"><img src="../../static/admin/images/logo_2.jpg" alt=""></a>
                </div>
                <div class="menu">
                    <div id="cssmenu">
                        <ul>
                            {% block header %}
                            <li class="has-sub"><a href="{{ url_for('music.index') }}"><span>首页</span></a></li>
                            <li class="active"><a href="#"><span>音乐人</span></a></li>
                            <li><a href="{{ url_for('music.recording_studio') }}"><span>录音棚</span></a></li>
                            <li class="last"><a href="#">关于 我们</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

{% block banner %}
{% endblock %}
{% block content %}
    <div class="main">
        <div class="content-top">
            <div class="wrap">
                <div class="about">
                    <div class="heading4">
                        <h2>音 乐 人</h2>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic5.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic5.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic6.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic6.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic7.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic7.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic8.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic8.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic9.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic9.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic10.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic11.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic11.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic10.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="../../static/admin/images/t-pic12.jpg" class="swipebox" title="Image Title"> <img
                                    src="../../static/admin/images/pic12.jpg" alt=""><span class="zoom-icon"></span> </a>
                            <h4>Aenean nonummy hendrerit</h4>
                            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>


