{% extends 'index_music.html' %}


<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
        <title>记录音乐网 - 新闻资讯</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Free Bootstrap Business Template">
        <meta name="author" content="The Develovers">
        <!-- CSS -->
        <link href="{{ url_for('static',filename='music_static/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='music_static/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ url_for('static',filename='music_static/css/main.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='WYSIWYG/css/wangEditor.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='music_static/css/my-custom-styles.css') }}" rel="stylesheet"
              type="text/css">
        <!-- IE 9 Fallback-->
        <!--[if IE 9]>
		<link href="{{ url_for('static',filename='music_static/css/ie.css') }}" rel="stylesheet">
	<![endif]-->
        <!-- GOOGLE FONTS -->
{#        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet'#}
{#              type='text/css'>#}
{#        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300'#}
{#              rel='stylesheet' type='text/css'>#}
        <!-- FAVICONS -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{{ url_for('static',filename='music_static/ico/repute144x144.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{{ url_for('static',filename='music_static/ico/repute114x114.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{{ url_for('static',filename='music_static/ico/repute72x72.png') }}">
        <link rel="apple-touch-icon-precomposed"
              href="{{ url_for('static',filename='music_static/ico/repute57x57.png') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='music_static/ico/favicon.png') }}">
    </head>
{% endblock %}
{% block body %}
    <body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- NAVBAR -->
        {% block navbar %}

            <nav class="navbar navbar-default " role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#main-nav">
                            <span class="sr-only">Toggle Navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="{{ url_for('music.index') }}" class="navbar-brand navbar-logo">
                            <img src="{{ url_for('static',filename='music_static/img/logo/repute-logo-nav.png') }}"
                                 alt="Repute Lite - Free Bootstrap Business Template">
                        </a>
                    </div>
                    <!-- MAIN NAVIGATION -->
                    <div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown active">
                                <a href="{{ url_for('music.index') }}" class="dropdown-toggle">
                                    <h4>首页</h4>
                                    {#                                <i class="fa fa-angle-down"></i>#}
                                </a>
                                {#                            <ul class="dropdown-menu" role="menu">#}
                                {#                                <li class="active"><a href="index.html">首页</a></li>#}
                                {#                            </ul>#}
                            </li>
                            <li class="dropdown ">
                                <a href="{{ url_for("music.music_human") }}" class="dropdown-toggle"><h4>音乐人</h4>
                                    {#                                <i class="fa fa-angle-down"></i>#}
                                </a>
                                {#                            <ul class="dropdown-menu" role="menu">#}
                                {#                                <li><a href="feature-nav-fixed-top.html">Fixed Top Menu</a></li>#}
                                {#                            </ul>#}
                            </li>
                            <li class="dropdown ">
                                <a href="{{ url_for('music.recording_studio') }}" class="dropdown-toggle"><h4>录音棚</h4>
                                    {#                                <i class="fa fa-angle-down"></i>#}
                                </a>
                                {#                            <ul class="dropdown-menu" role="menu">#}
                                {#                                <li><a href="page-about-us.html">About Us</a></li>#}
                                {#                            </ul>#}
                            </li>
                            <li class="dropdown ">
                                <a href="{{ url_for('music.news') }}" class="dropdown-toggle"><h4>
                                    新闻资讯</h4>
                                    {#                                <i class="fa fa-angle-down"></i>#}
                                </a>
                                {#                            <ul class="dropdown-menu" role="menu">#}
                                {#                                <li><a href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>#}
                                {#                            </ul>#}
                            </li>
                            <li class="dropdown ">
                                <a href="{{ url_for('music.about_us') }}" class="dropdown-toggle"><h4>关于我们</h4>
                                    {#                                <i class="fa fa-angle-down"></i>#}
                                </a>
                                {#                            <ul class="dropdown-menu" role="menu">#}
                                {#                                <li><a href="blog-single.html">Blog Single</a></li>#}
                                {#                            </ul>#}
                            </li>
                        </ul>
                    </div>
                    <!-- END MAIN NAVIGATION -->

                </div>
            </nav>
        {% endblock %}

        {% block banner %}
        {% endblock %}
        <!-- END NAVBAR -->
        <!-- BREADCRUMBS -->
        {% block content %}

            <div class="page-header">
                <div class="container">
                    <h1 class="page-title pull-left">新闻资讯</h1>
                    {#                    <ol class="breadcrumb">#}
                    {#                        <li><a href="#">首页</a></li>#}
                    {#                        <li><a href="#">音乐人</a></li>#}
                    {#                        <li class="active">Blog Single</li>#}
                    {#                    </ol>#}
                </div>
            </div>
            <!-- END BREADCRUMBS -->
            <!-- PAGE CONTENT -->
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BLOG SINGLE -->
                            <div class="blog single full-thumbnail">
                                <!-- blog post -->
                                <article class="entry-post">
                                    <header class="entry-header">
                                        <h2 class="entry-title">
                                            <span>{{ item.name }}</span>
                                        </h2>
                                    </header>
                                    <br>
                                    <div class="entry-content clearfix">
                                        <figure class="featured-image">
                                            {#                                            <div class="post-date-info clearfix"><span#}
                                            {#                                                    class="post-month">{{ item.release_time.strftime('%d') }}</span><span#}
                                            {#                                                    class="post-date">{{ item.release_time.strftime('%m') }}</span>#}
                                            {#                                                <span class="post-year">{{ item.release_time.strftime('%Y') }}</span>#}
                                            {#                                            </div>#}
                                            {#                                            {% if item.img %}#}
                                            {#                                                <img src="{{ url_for('music.render_img',filename = item.img) }}"#}
                                            {#                                                     class="img-responsive"#}
                                            {#                                                     alt="新闻资讯"/>#}
                                            {#                                            {% else %}#}
                                            {#                                                <img src="{{ url_for('static',filename='music_static/img/portfolio/800x800/work3.png') }}"#}
                                            {#                                                     alt="新闻资讯">#}
                                            {#                                            {% endif %}#}
                                            {#                                        </figure>#}
                                            <div class="excerpt">
                                                <p>{{ item.content|safe }}</p>
                                            </div>
                                        </figure>
                                    </div>
                                </article>
                                <!-- end blog post -->
                                <hr>
                                <!-- social sharing -->
                            </div>
                            <!-- END BLOG SINGLE -->
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block footer %}

        {% endblock %}


    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    {% block script %}
        <script src="{{ url_for('static',filename='music_static/js/jquery-2.1.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='WYSIWYG/js/wangEditor.min.js') }}"></script>
        <script src="{{ url_for('static',filename='music_static/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='music_static/js/repute-scripts.js') }}"></script>
    {% endblock %}
    </body>
{% endblock %}
</html>
